<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="card">
    <h1>SecureBank</h1>

    <form method="POST">
        <input name="last" placeholder="Last Name" required><br>
        <input name="acc" placeholder="Account Number" required><br>

        <button type="submit">Login</button>
    </form>

    <a href="/create"><button>Create Account</button></a>
    <a href="/teller"><button>Teller Tools</button></a>
</div>

</body>
</html>